.tab {
    -fx-pref-width: 100;
}

#equipmentTab {
    -fx-background-image: url("../images/ui/silhouette.png");
    -fx-background-position: center center;
    -fx-background-size: contain, auto;
    -fx-background-repeat: no-repeat;
}

#hpBar {
    -fx-background-color: GREEN;
}

#borderHpBar {
    -fx-border-color: BLACK;
    -fx-border-width: 2px;
}